<h2>Info</h2>


    <div class="container text-center my-3">
        <div class="jumbotron" style="background-color: green;color: white;">
            <h1>Info del server</h1>
            <list>
                <ul class="list-unstyled">
                    <li> Argumentos: {{datos.args}}</li>
                    <li> Sistema operativo: {{datos.os}}</li>
                    <li> Version de Node: {{datos.node}}</li>
                    <li> Rss: {{datos.rss}}</li>
                    <li> Path: {{datos.path}}</li>
                    <li>Id de proceso:  {{datos.Id_Proceso}}</li>
                     <li>Carpeta:  {{datos.carpeta}}</li>
                     <li>Numero de nucleos:  {{datos.cpu}}</li>
            </list>
 
            <br>
       


            <form action="/">
                <div class="text-center"></div>
                    <button class="btn btn-danger my-5">Goo back</button>
                </div>
            </form>
        </div>
    </div>
